@import '../../style/variables';
.slideshowSection {
  height: 415px;   
  padding-top: 25px;
  img {
    width:40px;
    height:69px;
  }
  .picturesDiv {
    position : relative;
  }
  .slideshowImg {
    object-fit: cover;
    border-radius: 25px;
    height: 415px;
    width: 100%;
  }
  .PArrow {
    position: absolute;
    top: 40%;
    left: 2%;
  }
  .PArrow:hover, .NArrow:hover{
    transform: scale(1.1);
    cursor: pointer;
  }
  .PArrowNone, .NArrowNone, .noSlideshowCounter {
    display: none;
  }
  .NArrow {
    position: absolute;
    top: 40%;
    right: 2%;
  }
  .slideshowCounter {
    position: absolute;
    bottom :5%;
    right: 50%;
    color:$title-color;
  }
}
/************* Tablette *******************/
@media screen and (min-width:769px) and (max-width: 1023px){
    .slideshowCounter {
      position: absolute;
  }
}
/************* Mobile *******************/
@media screen and (max-width: 768px) {
.slideshowSection {
  height: 255px;   
  .slideshowImg {
    height: 255px;      
    border-radius: 10px;
  }
  .PArrow, .NArrow {
    width : 11px;
    height : 19px;
    top: 50%;
  }
}
  .NArrowNone, .slideshowCounter {
    display: none;
  }
}
