.ratingDiv {
  display: flex;
  justify-content: space-around;
  gap : 15px;
  img {
    height:24px;
  }
}
/********** Tablette **********/
@media screen and (min-width:769px) and (max-width: 1023px) {
  .ratingDiv {
    gap : 10px;
    img {
      width:20px;
      height:20px;
    }
  } 
}
/************* Mobile *******************/
@media screen and (max-width: 768px) {
  .ratingDiv {
    gap : 6.5px;
    img {
      width:13px;
      height:13px;
    }
  }
}