@import '../../style/variables';
@import '../../style/placeholders';

.openedCollapse {
  display:flex;
  flex-direction: column;  border-radius: 5px;
  background-color: $kasa-color; 
  .itemText {
    padding: 36px 18px 19px 18px;
    margin:0;
    background-color: $background-text-color;
    font-size:24px ;
    color:$kasa-color;
    font-weight: 400;
  }
}
.closedCollapse {
  @extend %flex-center-between;
  justify-content: space-between;
  color: $title-color;
  background-color: $kasa-color;
  border-radius: $border-radius;
}

li {
  list-style-type: none;  
}

.itemTitle {
  @extend %flex-center-between;
  font-size:24px ;
  height :47px;
  padding-left: 18px;
  width:100%; 
  margin: 0;
  color: $title-color;
}
.arrow {
  border-radius:$border-radius;
  border:0px;
  padding-right: 10px;
  background-color: $kasa-color;
}
  

