@mixin full {
  width: 100%;
  height: 100%;
}

@mixin gradient-darken-image {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border : solid 1px red;
}