  // couleurs principales
  $kasa-color: #FF6060;
  $title-color : #FFFFFF;

  // couleurs de fond
  $background-text-color: #F6F6F6;
  $background-color :#000000;
  
  // textes
  $font-family: "Montserrat", sans-serif;
  $font-weight: 500;
  $font-size: 18px;

  // divers
  $border-radius: 5px;
