@import './variables';
@import './mixins';
@import './placeholders';

* {
  box-sizing: border-box;
}

body {
  margin: auto;
  max-width: 1440px;
  padding: 100px;
  font-size : $font-size;
  font-family: $font-family;
  font-weight: $font-weight;
}