@import '../../style/variables';

.gallery {
    background-color: $background-text-color;
    border-radius: 25px 25px 0 0 ;
    display: flex;
    flex-direction: row;  
}
/************* Tablette *******************/
@media screen and (min-width:769px) and (max-width: 1023px){
  .gallery {
    background-color: #ffffff;
    display: flex;
    justify-content: center;

  }
}
/************* Tablette *******************/
@media screen and (max-width: 768px){
  .gallery {
    background-color: #ffffff;
    display: flex;
    justify-content: center;

  }
}