@import '../../style/placeholders';
@import '../../style/variables';
.housingSection {
  padding-top:30px;
  .generalInfosDiv {
    display: flex;
    justify-content: space-between;
    margin: 24px 0;
    color : $kasa-color;
    .locationDiv {
      display : flex;
      flex-direction: column;
      justify-content:space-between;
      width:75%;

      .titlesDiv {
        .title {
          font-size: 2rem;
          margin: 0;
        }
        .description {
          font-size: 1rem;
          margin: 0;
        }
      }
      .tagsDiv {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap : 10px;
        .tagBtn {
          background-color:$kasa-color ;
          font-family: $font-family;
          color : $title-color;
          font-weight : $font-weight;
          min-width : 115px;
          height : 25px;
          border-radius: 10px;
          border:0;
          padding : 0 10px;
        }
      }  
    } 
    .hostRatingDiv {
      display: flex;
      flex-direction: column;
      gap:20px;
      justify-content:space-between;
      .housingHostDiv {
        display: flex;
        gap : 10px;       
        img {
          border-radius: 50%;
          width : 64px;
          height: 64px;
        }
        p {
          width : 84px;
          text-align: right;
        }
        .ratingDiv {
        height : 1rem;
      }
    }  
    }
  }  
  .collapsesDiv {
    display: flex;
    flex-direction: row;
    width : 100%;
    gap: 76px;
    .descriptionCollapseDiv{
      width : 100%;
      font-size:18px;
    }
    .equipCollapseDiv {
      width: 100%;
    }
  }
}
ul {
  padding: 0;
}
/********** Tablette **********/
@media screen and (min-width:769px) and (max-width: 1023px) {
 .housingSection {
  .collapsesDiv {
    display: flex;
    flex-direction: column;    
    gap:0px;
  }
  .hostRatingDiv {
      .ratingDiv {
        height : 16px;
        justify-content: right ;
      } 
      .housingHostDiv {
        display: flex;
        justify-content: right ;
        align-items: center;
        img {
          border-radius: 50%;
          width : 32px;
          height: 32px;
        }
        p {
          width : 24px;
          text-align: right;
          font-size: 16px;
        }  
      }   
    }
}
}
/************* Mobile *******************/
@media screen and (max-width: 768px) {
.housingSection {
    padding-top:15px;

  .generalInfosDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 24px;
    .locationDiv {
      width:100%;
      .titlesDiv {
        .title {
          font-size: 1rem;
          margin: 0;
        }
        .description {
          font-size: 14px;
          margin: 0;
        }
      }
      .tagsDiv {
        padding-top: 12px;
      }  
    } 
    .hostRatingDiv {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      gap:20px;
      padding-bottom: 0px;  
      .ratingDiv {
        height : 13px;
        justify-content: right ;
      } 
      .housingHostDiv {
        p {
          width : 54px;
          font-size: 13px;
        }  
      }   
    }
  }  
  .collapsesDiv {
    display: flex;
    flex-direction: column;
    gap:0px;
  }
}
}