.housingSection {
  padding-top: 30px;
}
.housingSection .generalInfosDiv {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
  color: #FF6060;
}
.housingSection .generalInfosDiv .locationDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
}
.housingSection .generalInfosDiv .locationDiv .titlesDiv .title {
  font-size: 2rem;
  margin: 0;
}
.housingSection .generalInfosDiv .locationDiv .titlesDiv .description {
  font-size: 1rem;
  margin: 0;
}
.housingSection .generalInfosDiv .locationDiv .tagsDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.housingSection .generalInfosDiv .locationDiv .tagsDiv .tagBtn {
  background-color: #FF6060;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  font-weight: 500;
  min-width: 115px;
  height: 25px;
  border-radius: 10px;
  border: 0;
  padding: 0 10px;
}
.housingSection .generalInfosDiv .hostRatingDiv {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}
.housingSection .generalInfosDiv .hostRatingDiv .housingHostDiv {
  display: flex;
  gap: 10px;
}
.housingSection .generalInfosDiv .hostRatingDiv .housingHostDiv img {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}
.housingSection .generalInfosDiv .hostRatingDiv .housingHostDiv p {
  width: 84px;
  text-align: right;
}
.housingSection .generalInfosDiv .hostRatingDiv .housingHostDiv .ratingDiv {
  height: 1rem;
}
.housingSection .collapsesDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 76px;
}
.housingSection .collapsesDiv .descriptionCollapseDiv {
  width: 100%;
  font-size: 18px;
}
.housingSection .collapsesDiv .equipCollapseDiv {
  width: 100%;
}

ul {
  padding: 0;
}

/********** Tablette **********/
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .housingSection .collapsesDiv {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .housingSection .hostRatingDiv .ratingDiv {
    height: 16px;
    justify-content: right;
  }
  .housingSection .hostRatingDiv .housingHostDiv {
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .housingSection .hostRatingDiv .housingHostDiv img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }
  .housingSection .hostRatingDiv .housingHostDiv p {
    width: 24px;
    text-align: right;
    font-size: 16px;
  }
}
/************* Mobile *******************/
@media screen and (max-width: 768px) {
  .housingSection {
    padding-top: 15px;
  }
  .housingSection .generalInfosDiv {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 24px;
  }
  .housingSection .generalInfosDiv .locationDiv {
    width: 100%;
  }
  .housingSection .generalInfosDiv .locationDiv .titlesDiv .title {
    font-size: 1rem;
    margin: 0;
  }
  .housingSection .generalInfosDiv .locationDiv .titlesDiv .description {
    font-size: 14px;
    margin: 0;
  }
  .housingSection .generalInfosDiv .locationDiv .tagsDiv {
    padding-top: 12px;
  }
  .housingSection .generalInfosDiv .hostRatingDiv {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-bottom: 0px;
  }
  .housingSection .generalInfosDiv .hostRatingDiv .ratingDiv {
    height: 13px;
    justify-content: right;
  }
  .housingSection .generalInfosDiv .hostRatingDiv .housingHostDiv p {
    width: 54px;
    font-size: 13px;
  }
  .housingSection .collapsesDiv {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
}/*# sourceMappingURL=housingInfos.css.map */