@import '../../style/placeholders';
@import '../../style/variables';
.housingSection {
  .up {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    color : $kasa-color;
    .left {
      display : flex;
      flex-direction: column;
      gap : 2px;
      .titlesDiv {
        .title {
          font-size: 2rem;
          margin: 0;
        }
        .description {
          font-size: 1rem;
          margin: 0;
        }
      }
      .tagsDiv {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap : 10px;
        padding-top: 20px;
        .tagBtn {
          background-color:$kasa-color ;
          font-family: $font-family;
          color : $title-color;
          font-weight : $font-weight;
          min-width : 115px;
          height : 25px;
          border-radius: 10px;
          border:0;
          padding : 0 10px;
        }
      }  
    } 
    .right {
      display: flex;
      flex-direction: column;
      gap:20px;
    .housingHostDiv {
        display: flex;
        gap : 10px;
        
        img {
          border-radius: 50%;
          width : 64px;
          height: 64px;
        }
        p {
          width : 84px;
          text-align: right;
        }
        .ratingDiv {
        height : 1rem;
      }
    }
      
    }
  }  
  .collapsesDiv {
    display: flex;
    flex-direction: row;
    width : 100%;
    gap: 76px;
    .descriptionCollapseDiv{
      width : 100%;
      font-size:18px;
    }
    .equipCollapseDiv {
      width: 100%;
    }
  }
}
ul {
  padding: 0;
}