.housingSection .up {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  color: #FF6060;
}
.housingSection .up .left {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.housingSection .up .left .titlesDiv .title {
  font-size: 2rem;
  margin: 0;
}
.housingSection .up .left .titlesDiv .description {
  font-size: 1rem;
  margin: 0;
}
.housingSection .up .left .tagsDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 20px;
}
.housingSection .up .left .tagsDiv .tagBtn {
  background-color: #FF6060;
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  font-weight: 500;
  min-width: 115px;
  height: 25px;
  border-radius: 10px;
  border: 0;
  padding: 0 10px;
}
.housingSection .up .right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 37px;
}
.housingSection .up .right .housingHostDiv {
  display: flex;
  gap: 10px;
}
.housingSection .up .right .housingHostDiv img {
  border-radius: 50%;
  width: 64px;
  height: 64px;
}
.housingSection .up .right .housingHostDiv p {
  width: 84px;
  text-align: right;
}
.housingSection .up .right .housingHostDiv .ratingDiv {
  height: 1rem;
}
.housingSection .collapsesDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 76px;
}
.housingSection .collapsesDiv .descriptionCollapseDiv {
  width: 100%;
  font-size: 18px;
}
.housingSection .collapsesDiv .equipCollapseDiv {
  width: 100%;
}

ul {
  padding: 0;
}

/************* Mobile *******************/
@media (max-width: 700px) {
  .housingSection .up {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 24px;
    color: #FF6060;
  }
  .housingSection .up .left {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-bottom: 17px;
  }
  .housingSection .up .left .titlesDiv .title {
    font-size: 1rem;
    margin: 0;
  }
  .housingSection .up .left .titlesDiv .description {
    font-size: 14px;
    margin: 0;
  }
  .housingSection .up .left .tagsDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 12px;
  }
  .housingSection .up .left .tagsDiv .tagBtn {
    background-color: #FF6060;
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 10px;
    min-width: 115px;
    height: 25px;
    border-radius: 10px;
    border: 0;
    padding: 0 10px;
  }
  .housingSection .up .right {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding-bottom: 0px;
  }
  .housingSection .up .right .ratingDiv {
    height: 13px;
    justify-content: left;
  }
  .housingSection .up .right .housingHostDiv {
    display: flex;
    gap: 10px;
    justify-content: right;
    align-items: center;
  }
  .housingSection .up .right .housingHostDiv img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }
  .housingSection .up .right .housingHostDiv p {
    width: 54px;
    text-align: right;
    font-size: 13px;
  }
  .housingSection .collapsesDiv {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
}/*# sourceMappingURL=housingInfos.css.map */