@import '../../style/index.scss';
.housingSection {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family:$font-family;
  font-weight:$font-weight;
  color : $kasa-color;

  .up {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;

    .left {
      display: flex;
      flex-direction: column;
      .titlesDiv {
        display :flex;
        flex-direction: column;
        

        .title {
          font-size: 36px;
          margin: 0;
        }
        .description {
          font-size: 18px;
          margin: 0;
        }
      }
      .tagsDiv {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap : 10px;
        padding-top: 20px;

        .tagBtn {
          min-width : 115px;
          height : 25px;
          border-radius: 10px;
          border:0;
          background-color: $kasa-color;
          color: $background-text-color;
          font-family:$font-family;
          font-weight:$font-weight;
        }
      }  
    } 
    .right {
      display: flex;
      flex-direction: column;

      .housingHostDiv {
        display: flex;
        gap : 10px;
        
        img {
          border-radius: 50%;
          width : 64px;
          height: 64px;
        }
        p {
          width : 104px;
          text-align: right;
        }

      }

      .ratingDiv {
        height : 25px;
        border-radius: 10px;
        border:0;
        text-align: center;
        display: flex;
        justify-content: space-between;
        margin-top: 27px;
      }
    }
  
  }  
  .collapsesDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 76px;

    .descriptionCollapseDiv{
      width : 100%;
    }
    .equipCollapseDiv {
      width: 100%;
    }
  }
}