@import '../../style/index.scss';
.nav {
  @include flex-center-between;
  font-family: $font-family;
  flex-wrap: wrap;
  padding-bottom: 4rem;
  
  .logoDiv {
    height: 70px;
    
    .logo {
      height: 62px;
    }
  }
  .navbar {
  display:flex;
  flex-wrap: wrap;
  gap: 3.1rem;
  
    .navLi {
      color: $kasa-color;
      text-decoration: none;
      font-weight: 500;
      font-size: 1.7rem;
    }
    .underlinedLink {
    text-decoration-line: underline;
    }
  } 
}



