@import '../../style/placeholders';
@import '../../style/variables';

.nav {
  @extend %flex-center-between;
  flex-wrap: wrap;
  align-items: center;
  .img {
    height :62px;
  }
  .navbar {
    display:flex;
    flex-wrap: wrap;
    gap: 4rem;
    .navLi {   
      text-decoration: none;
      font-size: 1.4rem;
      color : $kasa-color;
      font-weight: $font-weight;
    }
    .underlinedLink {
    text-decoration-line: underline;
    }
  } 
}
.navHome {
  margin-bottom : 68px;
}
.navAbout {
  padding-bottom : 50px;
}

/********** Tablette **********/
@media screen and (min-width:769px) and (max-width: 1023px) {
  .nav {
    align-items: center;
    img {
      height:53px;
    }
    .navbar {
      gap: 55px;
      .navLi {   
        font-size: 20px;
      }
      .underlinedLink {
        text-decoration-line: underline;
      }
    } 
  }
  .navHome, .navAbout {
    padding-bottom : 16px;
  }
}
  
/************* Mobile *******************/
@media screen and (max-width: 768px) {
  .nav {
    align-items: center;
    img {
      height:43px;
    }
    .navbar {
      gap: 15px;
      .navLi {   
        font-size: 12px;
        text-transform: uppercase;
      }
      .underlinedLink {
        text-decoration-line: underline;
      }
    } 
  }
  .navHome, .navAbout {
    padding-bottom : 16px;
    margin:4px;
  }
}



 