@import '../../style/placeholders';
@import '../../style/variables';

.nav {
  @extend %flex-center-between;
  flex-wrap: wrap;
  padding-bottom: 4rem;
  
  .logoDiv {
    height: 70px;
    
    .logo {
      height: 62px;
    }
  }
  .navbar {
  display:flex;
  flex-wrap: wrap;
  gap: 3.1rem;
  
    .navLi {   
      text-decoration: none;
      font-size: 1.7rem;
      color : $kasa-color;
      font-weight: $font-weight;
    }
    .underlinedLink {
    text-decoration-line: underline;
    }
  } 
}



