@import '../../style/variables';
.carrouselSection {
    height: 415px;   
   
    .picturesDiv {
      position : relative;
    }
    .carrouselImg {
      object-fit: cover;
      border-radius: 25px;
      height: 415px;
      width: 100%;
    }
    .PArrow {
      position: absolute;
      top: 50%;
      left: 2%;
      width : 46px;
      height : 79px;
    }
    .PArrow:hover, .NArrow:hover{
      transform: scale(1.1);
      cursor: pointer;
    }
    .PArrowNone, .NArrowNone, .noSlider {
      display: none;
    }
    .NArrow {
    width : 46px;
    height : 79px;
    position: absolute;
    top: 50%;
    right: 2%;
    }
   .slider {
      position: absolute;
      bottom :5%;
      right: 50%;
      color:$title-color;
    }
  }
/************* Mobile *******************/
@media (max-width: 700px){
.carrouselSection {
  height: 255px;   
  .carrouselImg {
    height: 255px;      
    border-radius: 10px;
  }
  .PArrow, .NArrow {
    width : 15px;
    height : 20px;
  }
}
  .NArrowNone, .slider {
      display: none;
  }
}
