.messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color : #FF6060;
  font-weight:500;
}
.errorCode {
  display: flex;
  font-size: 263px;
  font-weight:700;
  margin:0;
  padding-top: 174px;
  padding-bottom: 66px;
}
.errorText {
  display: flex;
  font-size: 36px;
  margin:0;
  padding-bottom: 182px;
}
.backHome {
  display: flex;
  justify-content: center; 
  font-size: 18px;
  color : #FF6060;
  font-weight: 500;
  padding-bottom: 159px;
}