@import '../../style/placeholders';
@import '../../style/variables';

.messages {
  @extend %flex-center-between;
  flex-direction: column;
  justify-content: center;
  color: $kasa-color;

  .errorCode {
    font-size: 263px;
    font-weight:700;
    margin:0;
  }
  .errorText {
    font-size: 2rem;
    padding-bottom: 82px;
  }
}

.backHome {
  @extend %flex-center;
  color: $kasa-color;
  padding-bottom: 159px;
}